<!DOCTYPE html>
<html lang="ko">

<head>
	<title>대시보드</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="dashboard_style.css">
</head>


<body>
	<nav class="nav">
		<div id="nav-title" style="float: left;" type="submit">대시보드</div>
		<button style="color: red; font-weight: 300;" onclick="location.href='./'" class="nav-item"
			type="submit">로그아웃</button>
		<!-- 계정 이름은 dashboard.js파일에 의해 지정됩니다. -->
		<button onclick="alert('아직 구현중인 기능입니다.');" class="nav-item" id="account" type="submit">계정 이름</button>

	</nav>
	<p class="sub">이곳에서 학습 내역을 조회하고 관리할 수 있습니다.</p>
	<h2 class="subTitle">학습 내역</h2>
	<p class="sub">아직 학습내역이 없습니다. 추가해보세요.</p>
	<h2 class="subTitle">메뉴</h2>
	<button class="menuButton" id="menuButton1" type="submit">간단 설명서</button>
	<button class="menuButton" id="menuButton2" type="submit">학습 내역 추가</button>
	<button class="menuButton" id="menuButton3" onclick="location.href='settings'" type="submit">설정</button>

	<script src="dashboard.js"></script>
</body>


</html>