<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
	<title>공부하자</title>
</head>

<body>
	<div class="mainView">
		<div id="mainWithAnimate">공부하자</div>
		<div id="sub"><b>공부하자</b>는 자신이 공부한 내용을 간단하게 기록하고 공유할 수 있는 사이트 입니다.</div>
		<button id="loginButton" onclick="location.href='login_page'">로그인</button>
		<button id="release" onclick="alert('구현 안됨');">업데이트 기록</button>
		<div>
			<button id="" onclick="location.href='dashboard'">대시보드로 이동(테스트 계정, 개발자 모드만 가능)</button>

		</div>
	</div>
</body>

</html>